
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("arkaplan.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.overlay {
  position: relative;

  background-color: rgba(244, 84, 85, 0.7);
  color: white;

  width: 80%;
  max-width: 350px;

  padding: 10px;
  padding-bottom: 140px;

  border-radius: 50px;
  text-align: center;

  font-size: 20px;
}


.sticker {
  position: absolute;

  bottom: 20px;   
  left: 50%;
  transform: translateX(-50%);
  width: 90px;

  bottom: -30px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;

}


@media (max-width: 600px) {
  .overlay {
    width: 90%;
    font-size: 18px;
    padding-bottom: 140px;
  }

  .sticker {
    width: 120px;
    bottom: 15px;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
